main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: hsl(0, 0%, 8%);

}
img{
  border-radius: 50%;
  align-items: center;
  padding-left: 30px;
}
h1{
  color:  hsl(0, 0%, 100%);
}
h2{
  color: hsl(75, 94%, 57%);
}
p{
 color:  hsl(0, 0%, 100%);
}

.card{
  background-color:  hsl(0, 0%, 12%);
  border: 2px solid none;
  border-radius: 15px;
 padding: 15px;

}

button{
  display: block;
  justify-content: center;
  align-items: center;
 background-color: hsl(0, 0%, 20%);
 color: hsl(0, 0%, 100%);
  margin: 10px auto;
  width: 150px;
  padding: 7px 0px;
  border-radius: 8px;
  border: 1px solid black;
  
}

button:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}